.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: $footer-bg;
  border-top: 1px solid $footer-border;
  padding-bottom: 10px;
  .row {
    margin-top: 10px;
  }
  .pull-left {
    margin-left: 20px;
  }
  .pull-right {
    text-align: right;
    margin-right: 20px;
  }
}
