<div class="footer container-fluid">
  <div class="row row-nomargin">
    <div class="pull-left">
      <div>
        <span class="glyphicon glyphicon-globe"></span>
        <span id="email-address">
          <a href="mailto:{{ site.email }}" target="_top">{{ site.email }}</a>
        </span>
      </div>
      <div>
        <span class="glyphicon glyphicon-earphone"></span>
        <span id="phone-number">{{ site.numbers.phone }}</span>
      </div>
      <div>
        <span class="glyphicon glyphicon-print"></span>
        <span id="fax-number">{{ site.numbers.fax }}</span>
      </div>
    </div>
    <div class="pull-right">
      <div ng-controller="mapCtrl">
        <span class="glyphicon glyphicon-home"></span>
        <span id="street-address"><a ng-click="open()">{{ site.addresses.street }}</a></span>
      </div>
      <div>
        <span class="glyphicon glyphicon-envelope"></span>
        <span id="mailing-address">{{ site.addresses.mailing }}</span>
      </div>
    </div>
  </div>
</div>
